.footer {
  width: 100%;
  height: 70px;
  background: #21325e;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
}

.footer p {
  color: white;
  letter-spacing: 1px;
  font-family: arial;
  text-align: center;
}

@media only screen and (max-width: 763px) {
  .footer svg {
    font-size: 50px;
  }
}
