.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
  overflow: hidden;
}
.about {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  height: 50px;
}
.changeText {
  margin-left: 0.5px;
  position: relative;
  font-size: 22px;
}
.changeText::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21325e;
  border-left: 2px solid rgb(194, 120, 23);
  width: calc(100% + 5px);
  height: 100%;
  animation: moveText 4s infinite;
}
@keyframes moveText {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% + 5px);
  }
}
.about .prompt {
  width: 60%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid rgb(194, 120, 23);
}
.prompt p {
  font-size: 25px;
}
.prompt svg:hover {
  color: rgb(194, 120, 23);
  transition: 0.4s;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 763px) {
  .about {
    height: calc(100vh - 23.2vh);
  }
  .about h2 {
    font-size: 20px;
  }
  .changeText {
    font-size: 16px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }
  .skills {
    font-size: 20px;
  }
  .skills h2 {
    font-size: 20px;
  }
  .prompt p {
    font-size: 20px;
  }
}
