@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&family=Roboto+Slab:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #616da7;
  border-radius: 7px;
}
